<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <p>
                Bioactivities Compound Heat Map
            </p>
            <hr/>
            <alert ng-repeat="alert in alerts"
                   type="alert.type">
                {{alert.msg}}
            </alert>
        </div>
    </div>
</div>

<br>
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12" data-ng-if="heatmap_plot">
            <img data-ng-src="{{heatmap_plot}}"/>
        </div>

        <!--
        <div class="col-xs-12" ng-if="result">
            <adjacency-matrix matrix-data="result"></adjacency-matrix>
        </div>
        -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>

            </div>
        </div>
    </div>
</div>
