<style>
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}
    
.node-s circle {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 2px;
}

.node-s {
  font: 10px serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <div class="alert alert-danger"
                     role="alert"
                     id="error_message"
                     ng-show="error_message_visible">
                    <p>
                        The server could not find the result to your request.
                    </p>
                    <p>
                        Please try a different query.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="query" class="col-xs-2">
    </div>
    <div id="cluster" class="col-xs-8">
    </div>
    <div id="compound" class="col-xs-2">
    </div>
</div>

<div id="spinner"></div>
