<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <p>
                Bioactivities Compound Heat Map
            </p>
        </div>
    </div>
</div>
<br/>
<hr/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="heatmap"></div>
        </div>
    </div>
</div>

<script>

    $(document).ready(
            function () {
                $('#heatmap').heatmap(
                        {
                            data: {
                                values: new jheatmap.readers.TableHeatmapReader(
                                        { url: "/media/heatmap/0b7a939309.tsv" }
                                )
                            },

                            init: function (heatmap) {

                                // Setup default zoom
                                heatmap.cols.zoom = 12;
                                heatmap.rows.zoom = 12;

                                heatmap.cells.decorators["value"] = new
                                        jheatmap.decorators.Heat(
                                        {
                                            minValue: 0,
                                            midValue: 15000,
                                            maxValue: 30000,
                                            minColor: [85, 0, 136],
                                            nullColor: [255, 255, 255],
                                            maxColor: [255, 204, 0],
                                            midColor: [240, 240, 240]

                                        }
                                );

                                heatmap.cells.decorators["bioactivity"] = new
                                        jheatmap.decorators.Heat(
                                        {
                                            minValue: 0,
                                            midValue: 20,
                                            maxValue: 200,
                                            nullColor: [255, 255, 255],
                                            minColor: [255, 0, 0],
                                            midColor: [255, 255, 0],
                                            maxColor: [0, 255, 0]
                                        }
                                );
                            }
                        }
                );
            }
    );

</script>
