<div class="container text-center">
    <div class="row">
        <div class="col-xs-12">
            <br/>
            <p style="font-size: 32px;">
                <strong>
                    Microphysiology Database
                </strong>
            </p>
            <br/>
            <a href="/compounds"
               class="btn btn-primary btn-lg">
                Experimental Frontend Interface
            </a>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <h3>Data Analysis Tools</h3>
        </div>
    </div>
    <br/>
    <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/admin/compounds/compound/">
                        <img src="/static/img/button_browse.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/admin/compounds/compound/"
                           class="btn btn-primary btn-large">
                        Browse Compounds
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/#/bioactivities/heatmap_selection">
                        <img src="/static/img/button_heatmap.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/#/bioactivities/heatmap_selection"
                           class="btn btn-primary btn-large">
                        Create Data Report
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/#/bioactivities/cluster_selection">
                        <img src="/static/img/button_cluster.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/#/bioactivities/cluster_selection"
                           class="btn btn-primary btn-large">
                            Cluster Compounds
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/#/in_development">
                        <img src="/static/img/button_predictive.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/#/in_development"
                           class="btn btn-primary btn-large">
                        Predictive Modeling
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Administration Tools</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/admin/compounds/compound/add/">
                    <img src="/static/img/button_addcompound.png"
                         style="height: 80px;">
                </a>
                <div class="caption">
                    <a href="/admin/compounds/compound/add/"
                       class="btn btn-primary btn-large">
                        Add Custom Compounds
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/admin/assays/assaybaselayout">
                    <img src="/static/img/liver_model.png"
                         style="height: 80px;">
                </a>
                <div class="caption">
                    <a href="/admin/assays/assaybaselayout"
                       class="btn btn-primary btn-large">
                        Design Device Layout
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/admin/assays/assaydevicereadout/add/">
                    <img src="/static/img/button_import.png"
                         style="height: 80px;">
                </a>
                <div class="caption">
                    <a href="/admin/assays/assaydevicereadout/add/"
                       class="btn btn-primary btn-large">
                        Import Data
                    </a>
                </div>
            </div>
        </div>

<!-- Remove Users
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="/static/img/button_users.png"
                     style="height: 80px;">
                <div class="caption">
                    <a href="/admin/auth/user/"
                       class="btn btn-primary btn-large">
                        Manage Users and Groups
                    </a>
                </div>
            </div>
        </div>
-->
    </div>
</div>
