<div class="container text-center">
    <div class="row">
        <div class="col-xs-12">
            <br/>
            <p style="font-size: 32px;">
                <strong>
                    Microphysiology Database
                </strong>
            </p>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <h3>Data Analysis Tools</h3>
        </div>
    </div>
    <br/>
    <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/compounds/">
                        <img src="/static/img/button_browse.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/compounds/"
                           class="btn btn-primary btn-large">
                        Browse Compounds
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/#/bioactivities/heatmap_selection">
                        <img src="/static/img/button_heatmap.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/#/bioactivities/heatmap_selection"
                           class="btn btn-primary btn-large">
                        Create Data Report
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/#/bioactivities/cluster_selection">
                        <img src="/static/img/button_cluster.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/#/bioactivities/cluster_selection"
                           class="btn btn-primary btn-large">
                            Cluster Compounds
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/#/in_development">
                        <img src="/static/img/button_predictive.png"
                             style="height: 80px;">
                    </a>
                    <div class="caption">
                        <a href="/#/in_development"
                           class="btn btn-primary btn-large">
                        Modeling
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Administration Tools</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/compounds/add">
                    <img src="/static/img/button_addcompound.png"
                         style="height: 80px;">
                </a>
                <div class="caption">
                    <a href="/compounds/add/"
                       class="btn btn-primary btn-large">
                        Add New Compound
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/microdevices/">
                    <img src="/static/img/liver_model.png"
                         style="height: 80px;">
                </a>
                <div class="caption">
                    <a href="/microdevices/"
                       class="btn btn-primary btn-large">
                        View Devices &amp; Models
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assays/user_index">
                    <img src="/static/img/button_import.png"
                         style="height: 80px;">
                </a>
                <div class="caption">
                    <a href="/assays/user_index"
                       class="btn btn-primary btn-large">
                        Import Data
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
